pandas
numpy
notebook
matplotlib
seaborn
scikit-learn
#xgboost
python-box
pyYAML
joblib
types-PyYAML
imblearn
from-root
evidently
#catboost
category-encoders==2.5.1.post0
Jinja2
uvicorn
dill
#lightgbm
optuna
boto3
mypy-boto3-s3
mlflow
shap
fastapi
python-multipart
-e .