<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auto Insurance Claim Fraud Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container-fluid"></div>
    </nav>
    <section>
        <div class="container-fluid">
            <div class="container">
                <form action="/" method="post">
                    <legend>Auto Insurance Claim Fraud Detection Form</legend>
                    
                    <!-- Categorical Features Section -->
                    <h4>Categorical Features</h4>

                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="policy_state">Policy State</label>
                        <select class="form-control" id="policy_state" name="policy_state" required>
                        <option value="" disabled selected>Select Policy State</option>
                        <option>OH</option>
                        <option>IN</option>
                        <option>IL</option>
                        </select>
                    </div>
                    

                    <div class="col-md-6 mb-3">
                        <label for="insured_sex">Insured Sex</label>
                        <select class="form-control" id="insured_sex" name="insured_sex" required>
                        <option value="" disabled selected>Select Sex</option>
                        <option>MALE</option>
                        <option>FEMALE</option>
                        </select>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="insured_education_level">Insured Education Level</label>
                        <select class="form-control" id="insured_education_level" name="insured_education_level" required>
                        <option value="" disabled selected>Select Education Level</option>
                        <option>MD</option>
                        <option>PhD</option>
                        <option>Associate</option>
                        <option>Masters</option>
                        <option>High School</option>
                        <option>College</option>
                        <option>JD</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="insured_occupation">Insured Occupation</label>
                        <select class="form-control" id="insured_occupation" name="insured_occupation" required>
                        <option value="" disabled selected>Select Occupation</option>
                        <option>craft-repair</option>
                        <option>machine-op-inspct</option>
                        <option>sales</option>
                        <option>armed-forces</option>
                        <option>tech-support</option>
                        <option>prof-specialty</option>
                        <option>other-service</option>
                        <option>priv-house-serv</option>
                        <option>exec-managerial</option>
                        <option>protective-serv</option>
                        <option>transport-moving</option>
                        <option>handlers-cleaners</option>
                        <option>adm-clerical</option>
                        <option>farming-fishing</option>
                        </select>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="insured_hobbies"Insured Hobbies</label>
                        <select class="form-control" id="insured_hobbies" name="insured_hobbies" required>
                        <option value="" disabled selected>Select Hobby</option>
                        <option>sleeping</option>
                        <option>reading</option>
                        <option>board-games</option>
                        <option>bungie-jumping</option>
                        <option>base-jumping</option>
                        <option>golf</option>
                        <option>camping</option>
                        <option>dancing</option>
                        <option>skydiving</option>
                        <option>movies</option>
                        <option>hiking</option>
                        <option>yachting</option>
                        <option>paintball</option>
                        <option>chess</option>
                        <option>kayaking</option>
                        <option>polo</option>
                        <option>basketball</option>
                        <option>video-games</option>
                        <option>cross-fit</option>
                        <option>exercise</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="insured_relationship">Relationship</label>
                        <select class="form-control" id="insured_relationship" name="insured_relationship" required>
                        <option value="" disabled selected>Select Relationship</option>
                        <option>husband</option>
                        <option>other-relative</option>
                        <option>own-child</option>
                        <option>unmarried</option>
                        <option>wife</option>
                        <option>not-in-family</option>
                        </select>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="incident_type">Incident Type</label>
                        <select class="form-control" id="incident_type" name="incident_type" required>
                        <option value="" disabled selected>Select Incident Type</option>
                        <option>Single Vehicle Collision</option>
                        <option>Vehicle Theft</option>
                        <option>Multi-vehicle Collision</option>
                        <option>Parked Car</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="collision_type">Collision Type</label>
                        <select class="form-control" id="collision_type" name="collision_type" required>
                        <option value="" disabled selected>Select Collision Type</option>
                        <option>Side Collision</option>
                        <option>?</option>
                        <option>Rear Collision</option>
                        <option>Front Collision</option>
                        </select>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="incident_severity">Incident Severity</label>
                        <select class="form-control" id="incident_severity" name="incident_severity" required>
                        <option value="" disabled selected>Select Severity</option>
                        <option>Major Damage</option>
                        <option>Minor Damage</option>
                        <option>Total Loss</option>
                        <option>Trivial Damage</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="authorities_contacted">Authorities Contacted</label>
                        <select class="form-control" id="authorities_contacted" name="authorities_contacted" required>
                        <option value="" disabled selected>Select Authority</option>
                        <option>Police</option>
                        <option>Fire</option>
                        <option>Other</option>
                        <option>Ambulance</option>
                        </select>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="incident_state">Incident State</label>
                        <select class="form-control" id="incident_state" name="incident_state" required>
                        <option value="" disabled selected>Select State</option>
                        <option>SC</option>
                        <option>VA</option>
                        <option>NY</option>
                        <option>OH</option>
                        <option>WV</option>
                        <option>NC</option>
                        <option>PA</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="incident_city">Incident City</label>
                        <select class="form-control" id="incident_city" name="incident_city" required>
                        <option value="" disabled selected>Select City</option>
                        <option>Columbus</option>
                        <option>Riverwood</option>
                        <option>Arlington</option>
                        <option>Springfield</option>
                        <option>Hillsdale</option>
                        <option>Northbend</option>
                        <option>Northbrook</option>
                        </select>
                    </div>
                    </div>

                    <div class="row">
                        <!-- policy_csl -->
                        <div class="col-md-6 mb-3">
                            <label for="policy_csl">Policy CSL</label>
                            <select class="form-control" id="policy_csl" name="policy_csl" required>
                            <option value="" disabled selected>Select policy CSL</option>
                            <option value="250/500">250/500</option>
                            <option value="100/300">100/300</option>
                            <option value="500/1000">500/1000</option>
                            </select>
                        </div>
                         
                        <!-- property_damage -->
                        <div class="col-md-6 mb-3">
                            <label for="property_damage">Property Damage</label>
                            <select class="form-control" id="property_damage" name="property_damage" required>
                            <option value="" disabled selected>Select Property Damage</option>
                            <option value="YES">YES</option>
                            <option value="?">?</option>
                            <option value="NO">NO</option>
                            </select>
                        </div>
                    </div>

                    
                    <!-- Numerical Features Section -->
                    <h4>Numerical Features</h4>

                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="months_as_customer">Months as Customer</label>
                        <input type="number" class="form-control" id="months_as_customer" name="months_as_customer" 
                            min="0" max="479" placeholder="0 - 479" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" name="age" 
                            min="19" max="64" placeholder="19 - 64" required>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="policy_annual_premium">Policy Annual Premium</label>
                        <input type="number" class="form-control" id="policy_annual_premium" name="policy_annual_premium" 
                            min="433.33" max="2047.59" step="0.01" placeholder="433.33 - 2047.59" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="umbrella_limit">Umbrella Limit</label>
                        <input type="number" class="form-control" id="umbrella_limit" name="umbrella_limit" 
                            min="-1000000" max="10000000" placeholder="-1000000 - 10000000" required>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="capital_gains">Capital Gains</label>
                        <input type="number" class="form-control" id="capital_gains" name="capital_gains" 
                            min="0" max="100500" placeholder="0 - 100500" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="capital_loss">Capital Loss</label>
                        <input type="number" class="form-control" id="capital_loss" name="capital_loss" 
                            min="-111100" max="0" placeholder="-111100 - 0" required>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="total_claim_amount">Total Claim Amount</label>
                        <input type="number" class="form-control" id="total_claim_amount" name="total_claim_amount" 
                            min="100" max="114920" placeholder="100 - 114920" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="injury_claim">Injury Claim</label>
                        <input type="number" class="form-control" id="injury_claim" name="injury_claim" 
                            min="0" max="21450" placeholder="0 - 21450" required>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="property_claim">Property Claim</label>
                        <input type="number" class="form-control" id="property_claim" name="property_claim" 
                            min="0" max="23670" placeholder="0 - 23670" required>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="vehicle_claim">Vehicle Claim</label>
                        <input type="number" class="form-control" id="vehicle_claim" name="vehicle_claim" 
                            min="70" max="79560" placeholder="70 - 79560" required>
                    </div>
                    </div>

                    
                    <!-- Ordinal Features Section -->
                    <h4>Ordinal Features</h4>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="unit_of_wage">Contract Tenure</label>
                        <select class="form-control" id="unit_of_wage" name="unit_of_wage" required>
                            <option value="" disabled selected>Contract Tenure</option>
                            <option>Hour</option>
                            <option>Year</option>
                            <option>Week</option>
                            <option>Month</option>
                        </select>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="full_time_position">Full or Part Time</label>
                        <select class="form-control" id="full_time_position" name="full_time_position" required>
                            <option value="" disabled selected>Full Time</option>
                            <option>Y</option>
                            <option>N</option>
                        </select>
                      </div>
                    </div>
                    
                    <!-- Submit Button -->
                    <div class="row">
                      <div class="col-12">
                        <input class="btn btn-primary w-100" type="submit" value="Predict Fraud Detection" required />
                      </div>
                    </div>
                    
                </form>
            </div>
            <div class="text-center text-black">
                <h2 class="display-4 fw-bolder">Auto Insurance Claim Fraud Detection Status: {{context}}</h2>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        $(".input").focus(function(){
            $(this).parent().addClass("focus");
        }).blur(function(){
            if($(this).val() === ''){
                $(this).parent().removeClass("focus");
            }
        });
    </script>
</body>
</html>
